@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu:ital,wght@0,500;1,300;1,400;1,500;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    width: 100%;
    object-fit: fill;
}

section {
    margin-top: 4em;
    margin-bottom: 4em;
}

/* navigation_bar */
/* .navigation_bar{
    height: 100px;
    max-width: 1440px;
    border-radius: 0px;
    transition: all 0.80s ease-in;
    position: relative;
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    } */
/* navbar/header */

.navigation_bar .navbar-brand img {
    width: 155px;
    height: 61.23px;
}

.nav-link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1A1A1A;
    font-family: Poppins;
}

.nav-bt:hover {
    background: #fff;
    color: #21428C;
    border: 2px solid #21428C;
}
.nav-bt {
    /* width: 172px; */
    font-family: Poppins;
    /* vertical-align: middle; */
    /* height: 54px; */
    /* padding: 10px; */
    background: #fff;
    padding: 14px 24px;
    border-radius: 4px;
    text-align: center;
    /* line-height: 24px; */
    /* font-style: normal; */
    font-weight: 400;
    font-size: 16px;
    /* margin-left: 20px; */
    color: #21428C;
    border: 2px solid #21428C;
    margin-right: 18px;
}

.nav-link {
    margin-left: 20px;
    padding-top: 16px;   
}

.nav_bt:hover {
    color: #f0dcdc;
    background: #21428C;
}

.nav_bt {
    /* width: 107px; */
    font-family: Poppins;
    /* vertical-align: middle; */
    /* height: 54px; */
    background: #21428C;
    padding: 14px 24px;
    border-radius: 4px;
    text-align: center;
    /* line-height: 24px; */
    /* font-style: normal; */
    font-weight: 400;
    font-size: 16px;
    border-radius: 2px;
    /* margin-left: 20px; */
}


/* hover/state */
.btn-sub:hover {
    background: #fff;
    color: #21428C;
    border: none;
    transition: 0.65s ease;
}

html{
    scroll-behavior: smooth;
}

/* section/home */
#home {
    /* margin-top: 0; */
    max-width: 1453px;
    background: linear-gradient(rgba(26, 26, 26, 0.6), rgba(26, 26, 26, 0.6)), url("..//Images/Innocent-Chukwuma-mentorship.png");
    /* object-fit: cover; */
    color: #fff;
}

.btn_div_content {
    margin-top: 4em;
}

/* section/about */
#about img {
    height: 500px;
    max-width: 690px;
    border-radius: 0px;
}

#about p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    /* max-width: 602px; */
    /* min-height: 489px;
    max-width: 730px; */
}


/* mentor/section */
#mentor{
    margin-top: 7em;
}
#mentor img {
    height: 391px;
    width: 100%;
    border-radius: 4px;
}

#mentor h1 {
    font-size: 44px;
    font-weight: 600;
    line-height: 66px;
    letter-spacing: 0em;
    text-align: left;
    color: #1a1a1a;
    padding-bottom: 10px;
}

#mentor h4 {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    color: #000;
}

#mentor h6 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #000;
}




/* section/updated */
#updated {
    height: 380px;
    max-width: 1440px;
    border-radius: 0px;
    text-align: center;
    background: #21428C;
    padding-top: 2em;
    margin-bottom: 0;
    margin-top: 5em;
}

#updated h1 {
    font-family: Poppins;
    font-size: 44px;
    font-weight: 600;
    line-height: 66px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
}

#updated h6 {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
}

.btn-sub {
    width: 104px;
    height: 54px;
    background: none;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    padding: 15px 24px 15px 24px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
}

#updated input {
    height: 60px;
    /* width: 377px; */
    border-radius: 8px;
    border: 0;
    transition: width 0.75s ease-in-out;
}

#updated input:focus {
    /* min-width: 600px; */
    border: none;
    background: white;
}

input::placeholder {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #1A1A1A;
    padding-left: 1em;
}



/* footer */
footer h5 {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #21428C;
}

footer p {
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #1A1A1A;
    font-family: Poppins;
}

footer a {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    /* line-height: 7px; */
    letter-spacing: 0em;
    text-align: left;
    color: #1a1a1a;
}

.footer_icons_social a i {
    /* margin-left: 25px; */
    color: #1a1a1a;
    background: #ebf1f7;
    padding: 10px 10px;
    border-radius: 100px;
    /* opacity:10%; */
    /* font-family: 'Poppins'; */
}

footer img {
    width: 155px;
    height: 61.23px;
}

footer {
    margin-left: 1em;
}




@media (min-width: 992px) {
    section {
        margin-top: 4em;
        margin-bottom: 4em;
    }

    /* navigation_bar */
    .navbar_dropdown {
        position: relative;
        display: inline-block;
    }

    .navbar_dropdown:hover .dropdowns {
        display: block;
    }

    .navbar_dropdown:hover span i {
        color: blue;
        transform: rotate(180deg);
        transition: all 0.67s;
        /* font-weight: 400;
        font-size: 12px; */
    }

    .dropdowns {
        position: absolute;
        left: 0;
        right: 0;
        display: none;
    }

    .dropdowns a {
        display: block;
        /* line-height: 40px; */
        color: #1a1a1a;
        font-family: Poppins;
        font-size: 12px;
        font-weight: 400;
        /* line-height: 20px; */
        letter-spacing: 0em;
        text-align: left;
    }

    .dropdowns a:hover {
        color: blue;
        transition: all 0.67s;
    }

    /* dropdown/content */

    /* about */
    #About_Iccef {
        font-family: Poppins;
        background: #fff;
        Offset: 6px, 4px rgba(26, 26, 26, 0.07);
        vertical-align: middle;
        /* text-align: center; */
        width: 202px;
        height: 168px;
        border-radius: 8px;
        padding: 15px;
        box-shadow: 6px 4px 8px 0px rgba(26, 26, 26, 0.07);

    }

    /* programme */
    #Programme_Iccef {
        font-family: Poppins;
        background: #fff;
        Offset: 6px, 4px rgba(26, 26, 26, 0.07);
        vertical-align: middle;
        /* text-align: center; */
        width: 224px;
        height: 320px;
        border-radius: 8px;
        padding: 15px;
        box-shadow: 6px 4px 8px 0px rgba(26, 26, 26, 0.07);
    }

    /* blog */
    #Blog_Iccef {
        font-family: Poppins;
        background: #fff;
        Offset: 6px, 4px rgba(26, 26, 26, 0.07);
        vertical-align: middle;
        /* text-align: center; */
        width: 186px;
        height: 232px;
        border-radius: 8px;
        padding: 15px;
        box-shadow: 6px 4px 8px 0px rgba(26, 26, 26, 0.07);
    }

    /* Get-Involved */
    #Get-Involved_Iccef {
        font-family: Poppins;
        background: #fff;
        Offset: 6px, 4px rgba(26, 26, 26, 0.07);
        vertical-align: middle;
        /* text-align: center; */
        width: 137px;
        height: 148px;
        border-radius: 8px;
        padding: 15px;
        box-shadow: 6px 4px 8px 0px rgba(26, 26, 26, 0.07);
    }

    .navigation_bar {
        height: 100px;
        max-width: 1440px;
        border-radius: 0px;
        transition: all 0.80s ease-in;
        position: relative;
        z-index: 1;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
    }

    /* section/about */
    #home {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        /* background-attachment: fixed; */
        height: 429px;
        /* padding-top: 10em; */
        margin-top: 6em;
        padding-top: 7em;
        padding-left: 7em;
    }

    #home h1 {
        font-style: normal;
        font-weight: 600;
        font-size: 44px;
        line-height: 66px;
        text-transform: uppercase;
        color: #FFFFFF;
        height: 132px;
        width: 715px;
    }

    #home p {
        height: 489px;
        max-width: 730px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
    }



    /* about/section */
    /* #about img{
        height: 500px;
    } */
    #about p {
        height: 489px;
        max-width: 730px;
        /* padding-bottom: 4em; */
        /* padding: 20px; */
    }

    .btn_div_content{
        margin-top: 7em;
    }
    .btn_div {
        padding: 15px 24px;
        gap: 10px;
        border: 2px solid #21428C;
        border-radius: 4px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
    }

    .btn_di {
        border-radius: 4px;
        padding: 15px 24px;
        gap: 10px;
        border: 2px solid #21428C;
        border-radius: 4px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
        background: #21428C;
        border-radius: 4px;
    }



    /* footer */
    .logog {
        height: 78px;
        width: 185px;
    }

    .log {
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0em;
        text-align: left;
        width: 225px;
    }

    .quick p {
        line-height: 12px;
        color: #1A1A1A;
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0em;
        text-align: left;
    }
}





@media (max-width:568px) {
   /* navigation/navbar-header */
   .accordion .accordion_content {
    position: relative;
}

.accordion_content:hover #about_accordion {
    display: block;
}

.accordion .accordion_content:hover #programme_accordion {
    display: block;
}

.accordion .accordion_content:hover #blog_accordion {
    display: block;
}

.accordion .accordion_content:hover #getInvolved_accordion {
    display: block;
}

#about_accordion {
    display: none;
    border-top: 1px solid #1a1a1a;
    border-bottom: 1px solid #1a1a1a;
    padding: 10px;
    padding-top: 0;
}

#programme_accordion {
    display: none;
    height: 182px;
    border-top: 1px solid #1a1a1a;
    border-bottom: 1px solid #1a1a1a;
    padding: 8px;
    /* padding-top: 7px; */
}

#programme_accordion .nav-content-link {
    padding-top: 11px
}

#blog_accordion {
    display: none;
    border-top: 1px solid #1a1a1a;
    border-bottom: 1px solid #1a1a1a;
    padding: 10px;
    padding-top: 0;
}

#getInvolved_accordion {
    position: relative;
    display: none;
    border-top: 1px solid #1a1a1a;
    border-bottom: 1px solid #1a1a1a;
    padding: 10px;
    padding-top: 0;
}

.accordion .accordion_content:hover #about_accordion .nav-content-link {
    color: #1a1a1a;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    display: block;
}

.accordion .accordion_content:hover #blog_accordion .nav-content-link {
    color: #1a1a1a;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    display: block;
}

.accordion .accordion_content:hover #programme_accordion .nav-content-link {
    color: #1a1a1a;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    display: block;
}

.accordion .accordion_content:hover #getInvolved_accordion .nav-content-link {
    color: #1a1a1a;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    display: block;
}

.accordion .accordion_content .accordion_title {
    padding-top: 10px;
}

.accordion_title {
    position: relative;
}

.accordion_title::before {
    content: '+';
    position: absolute;
    font-weight: bold;
    top: 50%;
    right: 40px;
    transform: translateY(-7px);
}

.accordion .accordion_content:hover .accordion_title::before {
    content: '-';
    position: absolute;
}

.nav-btn {
    font-size: 12px;
    font-weight: 400;
    margin-top: 30px;
    background: #fff;
    padding: 12px 94px;
    border: 2px solid #21428C;
    color: #21428C;
}

.nav_btn {
    font-family: poppins;
    font-size: 12px;
    font-weight: 400;
    margin-top: 30px;
    background: #21428C;
    padding: 12px 94px;
}




.nav_navigation {
    position: fixed;
    top: 0;
}

#navbarNav {
    transition: all 0.30s ease-out;
    padding-bottom: 3em;
    height: auto;
    padding-top: 3em;
    position: relative;
}

.nav_navigation{
    padding: 15px;
}

.navbar-toggler {
    border: 0;
    outline: 0em;
}

#navbar_toggle:hover {
    background-color: yellow;
    border: 0;
    outline: 0em;
}

.navbar-toggler:hover .fa-bars::before {
    content: '*';
    position: absolute;
    font-weight: 900;
    transform: translateY(-20px);
}

.fa-bars {
    position: relative;
    height: 0px;
    width: 18px;
    color: #292D32;
}

    section {
        margin-top: 2em;
        margin-bottom: 2em;
    }


    /* home/section */
    #home {
        background: linear-gradient(rgba(26, 26, 26, 0.3), rgba(26, 26, 26, 0.3)), url("..//Images/mentorship_bg_sm.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        /* background-attachment: fixed; */
        height: 641px;
        margin-top: 4em;
        padding-left: 25px;
        padding-top: 20em;
    }

    #home h1 {
        font-family: Poppins;
        font-size: 34px;
        font-weight: 600;
        line-height: 51px;
        letter-spacing: 0em;
        text-align: left;
        color: #fff;
        height: 153px;
        width: 306px;
        text-transform: uppercase;
    }

    #home p {
        height: 853px;
        width: 325px;
        font-family: Poppins;
        font-size: 15px;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0em;
        text-align: left;
        color: #1A1A1A;
        margin-top: 0;
        padding-top: 0;
        /* padding: 35px; */
    }

    /* about/section */
    #about p {
        padding-left: 25px;
        padding-right: 25px;
    }

    .btn_div_content {
        margin-top: 1em;
        margin-left: 25px;
        margin-right: 25px;
    }

    .btn_div_content a {
        display: block;
    }

    .btn_div {
        /* height: 51px;
        width: 325px; */
        border: 2px solid #21428C;
        border-radius: 3px;
        padding: 14px 94px 14px 94px;
        text-align: center;
        color: #21428C;
        font-family: Poppins;
        font-size: 15px;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0em;
    }

    .btn_di {
        background: #21428C;
        /* border: 1px solid #21428C; */
        border-radius: 3px;
        padding: 14px 94px 14px 94px;
        text-align: center;
        color: white;
        font-family: Poppins;
        font-size: 15px;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0em;
        margin-top: 2em;
    }


    /* mentor/section */
    #mentor {
        margin-top: 4em;
    }

    #mentor img {
        padding: 40px;
        height: 437px;
    }

    #mentor h1 {
        font-family: Poppins;
        font-size: 32px;
        font-weight: 600;
        line-height: 48px;
        letter-spacing: 0em;
        text-align: left;
        color: #1A1A1A;
        /* text-transform: uppercase; */
    }

    /* updated/section */
    #updated h1 {
        font-family: Poppins;
        font-size: 32px;
        font-weight: 600;
        line-height: 48px;
        letter-spacing: 0em;
        text-align: left;
    }

    #updated h6 {
        font-family: Poppins;
        font-size: 15px;
        font-weight: 500;
        line-height: 23px;
        letter-spacing: 0em;
        text-align: left;
    }

    #updated {
        height: 441px;
        margin-top: 4em;
    }

    #updated h6 {
        font-family: Poppins;
        font-size: 15px;
        font-weight: 500;
        line-height: 23px;
        letter-spacing: 0em;
        text-align: left;
    }

    .email {
        margin-top: 2em;
    }

    /* footer/section */
    footer {
        font-family: Poppins;
        margin-bottom: 1em;
        margin-left: 1em;
    }

    footer img {
        height: 61px;
        width: 155px;
    }

    .logog {
        width: 185px;
    }

    .log {
        width: 225px;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .quick p {
        line-height: 8px;
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0em;
        text-align: left;
        color: #1a1a1a;
    }

    .quick h5 {
        font-family: Poppins;
        font-size: 16px;
        font-weight: 500;
        line-height: 26px;
        letter-spacing: 0em;
        text-align: left;
        color: #21428C;
        padding-bottom: 1em;
    }
}