*{
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
.container{
    padding-top: 5px;
    padding-bottom: 5px;
}
.nav-bt {
    width: 172px;
    font-family: Poppins;
    /* vertical-align: middle; */
    /* height: 54px; */
    background: #fff;
    /* padding: 14px 24px; */
    border-radius: 4px;
    text-align: center;
    /* line-height: 24px; */
    /* font-style: normal; */
    font-weight: 400;
    font-size: 16px;
    /* margin-left: 20px; */
    color: #21428C;
    border: 1px solid #21428C;
}

.nav-link {
    margin-left: 20px;
}

.nav_bt {
    width: 107px;
    font-family: Poppins;
    /* vertical-align: middle; */
    /* height: 54px; */
    background: #21428C;
    /* padding: 14px 24px; */
    border-radius: 4px;
    text-align: center;
    /* line-height: 24px; */
    /* font-style: normal; */
    font-weight: 400;
    font-size: 16px;
    /* margin-left: 20px; */
}

/* hover-effects */
.see_all a {
    color: black;
}

.see_all a:hover {
    background: #21428C;
    color: #fff;
    border: none;
    transition: 0.65s ease;
}

.btn-sub:hover {
    background: #fff;
    color: #21428C;
    border: none;
    transition: 0.65s ease;
}
.home{
    background: linear-gradient(rgba(0, 0, 0, 0.822),rgba(0, 0, 0, 0.582)),url(../Images/bio_bg.png);
    box-shadow: 12px 12px 4px rgba(26, 26, 26, 0.07);
    border-radius: 4px;
    background-size: cover;
    background-position: center;
    height: 30em;
    padding-top: 12em;
    color: #fff;
}
.container_biography{
    margin-top: 5em;
}
.bio{
    font-weight: 700;
}
#bio img{
    height: 115px;
width: 115px;
border-radius: 0px;
/* margin-top: 5em; */
}
.bio_bg{
    height: 624px;
    max-width: 1272px;
    border-radius: 4px;
    background: linear-gradient(rgba(26, 26, 26, 0.6),rgba(26, 26, 26, 0.6)), url("../Images/bio_bg.png");   /* background-attachment: fixed; */
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 15em;
    text-align: center;
}
.container_writings{
    margin-top: 100px;
}
.writings{
    height: 100px;
    padding-top: 35px;
    padding-left: 25px;
}
.footer{
    background: #21428C;
}
#updated {
    height: 380px;
    max-width: 1440px;
    border-radius: 0px;
    text-align: center;
    background: #21428C;
    padding-top: 2em;
    margin-bottom: 0;
}

#updated h1 {
    font-family: Poppins;
    font-size: 44px;
    font-weight: 600;
    line-height: 66px;
    letter-spacing: 0em;
    text-align: left;    
    color: #fff;
}

#updated h6 {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;    
    color: #fff;
}

.btn-sub {
    width: 104px;
    height: 54px;
    background: none;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    padding: 15px 24px 15px 24px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
}

#updated input {
    height: 60px;
    /* width: 377px; */
    border-radius: 8px;
    border: 0;
    transition: width 0.75s ease-in-out;
}

#updated input:focus {
    /* min-width: 600px; */
    border: none;
    background: white;
}

input::placeholder {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #1A1A1A;
    padding-left: 1em;
}


/* footer */
footer h5 {
    font-family: Poppins;
font-size: 16px;
font-weight: 500;
line-height: 26px;
letter-spacing: 0em;
text-align: left;
    color: #21428C;
}

footer p {
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #1A1A1A;
    font-family: Poppins;
}

footer a {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    /* line-height: 7px; */
    letter-spacing: 0em;
    text-align: left;
    color: #1a1a1a;    
}
.footer_icons_social a i {
    margin-left: 25px;
    color: #1a1a1a;
    background: #ebf1f7;
    padding: 10px 10px;
    border-radius: 100px;
    /* opacity:10%; */
    /* font-family: 'Poppins'; */
}

footer img {
    width: 155px;
    height: 61.23px;
}


@media (min-width: 992px){
    section {
        margin-top: 4em;
        margin-bottom: 4em;
    }

    /* navigation_bar */
.navbar_dropdown {
        position: relative;
        display: inline-block;
    }

    .navbar_dropdown:hover .dropdowns {
        display: block;
    }
    .navbar_dropdown:hover span i{
        color: blue;
       transform: rotate(180deg);
       transition: all 0.7s;
       font-weight: 400;
       font-size: 12px;
    }
    .dropdowns {
        position: absolute;
        left: 0;
        right: 0;
        display: none;
    }
 
    .dropdowns a {
        display: block;
        /* line-height: 40px; */
        color: #1a1a1a;
        font-family: Poppins;
        font-size: 12px;
        font-weight: 400;
        /* line-height: 20px; */
        letter-spacing: 0em;
        text-align: left;
    }

    /* dropdown/content */

    /* about */
    #About_Iccef {
        font-family: Poppins;
        background: #fff;
        Offset: 6px, 4px rgba(26, 26, 26, 0.07);
        vertical-align: middle;
        /* text-align: center; */
        width: 202px;
        height: 168px;
        border-radius: 8px;
        padding: 15px;
        box-shadow: 6px 4px 8px 0px rgba(26, 26, 26, 0.07);

    }

    /* programme */
    #Programme_Iccef {
        font-family: Poppins;
        background: #fff;
        Offset: 6px, 4px rgba(26, 26, 26, 0.07);
        vertical-align: middle;
        /* text-align: center; */
        width: 224px;
        height: 320px;
        border-radius: 8px;
        padding: 15px;
        box-shadow: 6px 4px 8px 0px rgba(26, 26, 26, 0.07);
    }

    /* blog */
    #Blog_Iccef {
        font-family: Poppins;
        background: #fff;
        Offset: 6px, 4px rgba(26, 26, 26, 0.07);
        vertical-align: middle;
        /* text-align: center; */
        width: 186px;
        height: 232px;
        border-radius: 8px;
        padding: 15px;
        box-shadow: 6px 4px 8px 0px rgba(26, 26, 26, 0.07);
    }

    /* Get-Involved */
    #Get-Involved_Iccef {
        font-family: Poppins;
        background: #fff;
        Offset: 6px, 4px rgba(26, 26, 26, 0.07);
        vertical-align: middle;
        /* text-align: center; */
        width: 137px;
        height: 148px;
        border-radius: 8px;
        padding: 15px;
        box-shadow: 6px 4px 8px 0px rgba(26, 26, 26, 0.07);
    }

    .navigation_bar {
        height: 100px;
        max-width: 1440px;
        border-radius: 0px;
        transition: all 0.80s ease-in;
        position: relative;
        z-index: 1;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
    }
}





@media  (max-width: 568px) {
    .navbar-toggler{
        border: none;
        outline: none;
    }
}